.popup__handler {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.4s;
}

.popup__handler:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .popup__handler {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
