.popup__container {
  margin: 34px 36px 37px;
  width: 430px;
  height: 330px;
  background-color: #FFFFFF;
  position: fixed;
  top: 155px;
  right: 385px;
  border-radius: 10px;
  z-index: 1;
}

@media (max-width: 767px) {
  .popup__container {
    margin: 0;
    width: 282px;
    height: 322px;
    top: 123px;
    right: 19px;
  }
}
