.cards__title {
  margin: 25px 0 31px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  grid-column: 2/3;
  grid-row: 2;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
